<main class="main">
  <div class="container-fluid">
    <app-bread-crumb></app-bread-crumb>
    <div class="content">
      <h6 class="mt-3">Products</h6>
      <div class="pt-1">
        <label>Select Form:</label>
      </div>

      <div class="checkbox mb-1" *ngFor="let form of allFormsAssignment">
        <mat-checkbox class="example-margin"
                      name="selfPDC"
                      (change)="updateFromAssignment(form)"
                      [(ngModel)]="form.ischecked">{{form.bizSectNm}}</mat-checkbox>
      </div>

      <div class="mt-5">
          <a class="btn  btn-min btn-primary" (click)="onContinue()" >Continue</a>
        <button  (click)="onSave()" class="btn btn-primary btn-min">Save</button>
        
      </div>
    </div>
  </div>
</main>
