<main class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <app-left-side-bar></app-left-side-bar>
      </div>
      <div class="col-md-9">
        <div class="content mb-md-5">
          <div class="row">
            <div class="col-sm-6">
              <div class="mysearchbox">
                <h6 class="d-inline-block searchshow">Product Groups
                  <i class="fa fa-search"> </i>
                </h6>
                <div class="mysearch">
                  <a href="#." class="remove-search">
                    <i class="fa fa-window-close"> </i>
                  </a>
                  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by Name..." title="Type in a name">
                </div>
              </div>
            </div>
            <div class="col-sm-6 addBtn">
              <button class="btn btn-primary btn-sm" data-toggle="modal" (click)="openModal()">
                <i class="fa fa-plus"></i> Add</button>
              <div class="modal fade" id="addprduct" role="dialog">
                <div class="modal-dialog mymodal">

                  <!-- Modal content-->
                  <div class="modal-content text-center">
                    <form (ngSubmit)="onSubmit()" [formGroup]="productsForm">
                      <div class="modal-header">
                        <h5 class="modal-title">Product Group</h5>
                      </div>
                      <div class="modal-body">
                        <div class="cRow">
                          <div class="cCol3-col">
                            <mat-form-field>
                              <input placeholder="Product Name:" formControlName="prdGrpNm"
                                           [errorStateMatcher]="matcher" matInput>
                            </mat-form-field>
                          </div>
                          <div class="cCol3-col">
                            <mat-form-field>
                              <mat-select placeholder="Status:" formControlName="prdGrpSts"
                                          name="status" [errorStateMatcher]="matcher">
                                <mat-option *ngFor="let edu of statusArray" [value]="edu.codeKey">
                                  {{edu.codeValue}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="modal-footer text-center">
                          <button type="submit" class="btn btn-primary btn-min" [disabled]="productsForm.invalid">Ok</button>
                          <button type="button" class="btn btn-primary btn-min" data-dismiss="modal">Cancel</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <br>
          <div class="table-responsive">
            <table class="hover table" id="myTable">
              <thead class="thead-light">
                <tr>
                  <th>Product ID</th>
                  <th>Product Name</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of pagedItems">
                  <td>{{product.prdGrpId}}</td>
                  <td>
                    <a (click)="navigateToProduct(product)" >{{product.prdGrpNm}}</a>
                  </td>
                  <td>{{findValueByKey(product.prdGrpSts)}}</td>
                  <td>
                    <a (click)="editItem(product)" class="iconBtn">
                      <i class="fa fa-pencil"></i>
                    </a>
                    <!-- <a (click)="deleteItem(product)" class="iconBtn delBtn">
                      <i class="fa fa-trash-o"></i>
                    </a> -->
                    <a  class="iconBtn">
                      <i class="fa fa-history"></i>
                    </a>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>

          <nav aria-label="Page navigation ">
            <ul class="pagination justify-content-center" *ngIf="pager.pages && pager.pages.length">
              <li class="page-item disabled" [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
              </li>
              <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a class="page-link" (click)="setPage(page)">{{page}}</a>
              </li>
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</main>
<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  })
</script>
<script>
  $(".searchshow").click(function () {
    $(".mysearchbox").addClass("intro");
  });
  $(".remove-search").click(function () {
    $(".mysearchbox").removeClass("intro");
  });

  function myFunction() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>
<script>
  var index = 1;
  $('ul.moreless li:gt(' + index + ')').hide();
  $('ul.moreless').append('<li class="more">more..</li>');
  $('ul.moreless li.more').click(function () {
    $('ul.moreless li.more').remove();
    $('ul.moreless li:gt(' + index + ')').show();
    $('ul.moreless').append('<li class="less">Less..</li>');
    $('ul.moreless li.less').click(function () {
      $('ul.moreless li.less').remove();
      $('ul.moreless li:gt(' + index + ')').remove();
      $('ul.moreless').append('<li class="more">more..</li>');
    });
  });

</script>
