<main class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-md-3">
                <div class="leftSideBar">
                    <h6><i class="fa fa-sliders fa-lg"></i> Filter</h6>
                    <div class="filtersWrap">
                        <div class="filter"> <a href="#." class="acc_trigger">Organization</a>
                            <div class="collapse acc_container" id="region">
                                <div class="listmenu">
                                    <ul class="sub-menu">
                                        <li>LAHORE REGION
                                            <ul class="sub-menu">
                                                <li>ALAHORE-02
                                                    <ul class="sub-menu">
                                                        <li>SIRAJ PURA
                                                            <ul class="sub-menu">
                                                                <li>North</li>
                                                            </ul>
                                                        </li>
                                                        <li>BEDIAN
                                                            <ul class="sub-menu">
                                                                <li>South</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>SAHIWAL REGION
                                            <ul class="sub-menu">
                                                <li>KASUR-01
                                                    <ul class="sub-menu">
                                                        <li>KASUR-01
                                                            <ul class="sub-menu">
                                                                <li>East</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>BAHAWALPUR REGION
                                            <ul class="sub-menu">
                                                <li>BAHAWALPUR-01
                                                    <ul class="sub-menu">
                                                        <li>BAHAWALPUR-01
                                                            <ul class="sub-menu">
                                                                <li>West</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>KPK/PINDI REGION
                                            <ul class="sub-menu">
                                                <li>MARDAN
                                                    <ul class="sub-menu">
                                                        <li>MARDAN KHAAS
                                                            <ul class="sub-menu">
                                                                <li>South</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="filter"> <a href="#." class="acc_trigger">Geography </a>
                            <div class="collapse acc_container" id="country">
                                <div class="listmenu">
                                    <ul>
                                        <li>PAKISTAN
                                            <ul class="sub-menu">
                                                <li>PUNJAB
                                                    <ul class="sub-menu">
                                                        <li>LAHORE
                                                            <ul class="sub-menu">
                                                                <li>LAHORE
                                                                    <ul class="sub-menu">
                                                                        <li>KAHNA NAU</li>
                                                                        <li>REHMAT PURA</li>
                                                                        <li>HARBANSPURA</li>
                                                                        <li>ARIF ABAD</li>
                                                                    </ul>
                                                                </li>
                                                                <li>PAKPATTAN</li>
                                                            </ul>
                                                        </li>
                                                        <li>KASUR</li>
                                                        <li>BAHAWALPUR</li>
                                                    </ul>
                                                </li>
                                                <li>SINDH</li>
                                                <li>KHYBER PAKHTUNKHWA
                                                    <ul class="sub-menu">
                                                        <li>MARDAN</li>
                                                    </ul>
                                                </li>
                                                <li>BALOCHISTAN</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="filter"> <a href="#." class="acc_trigger">More Filters</a>
                            <div class="collapse acc_container">
                                <label>Gender</label>
                                <br>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="male" name="gender" class="custom-control-input">
                                    <label class="custom-control-label" for="male">Male</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="female" name="gender" class="custom-control-input">
                                    <label class="custom-control-label" for="female">Female</label>
                                </div>
                                <br>
                                <label class="mt-2">Marital Status</label>
                                <br>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="yesM" name="mStatus" class="custom-control-input">
                                    <label class="custom-control-label" for="yesM">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="noM" name="mStatus" class="custom-control-input">
                                    <label class="custom-control-label" for="noM">No</label>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-sm">More Filters</button>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-md-1">

          </div> -->
            <div class="col-md-12">
                <div class="content">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mysearchbox">
                                <h6 class="d-inline-block searchshow">Compliance
                                    <!-- <i class="fa fa-search"> </i> -->
                                </h6>
                                <div class="mysearch"> <a href="#." class="remove-search"><i class="fa fa-window-close">
                                        </i></a>
                                    <input type="text" id="myInput" onkeyup="myFunction()"
                                        placeholder="Search for names.." title="Type in a name">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 blockfilter mt-2 mb-2">
                            <h6 class="d-inline-block">Branch Name: {{trgt.brnchNm}}</h6>
                        </div>
                        <div class="col-sm-6 addBtn" *ngIf="canAdd">
                            <button class="btn btn-primary btn-sm" type="button" data-toggle="modal"
                                (click)="openAddMember()"><i class="fa fa-plus"></i> Add</button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th>Visit ID</th>
                                    <th>Num. of Clients</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Visit Type</th>
                                    <th>Scheduled By</th>
                                    <th>Status </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of listing">
                                    <td>{{obj.vstId}}</td>
                                    <td>{{obj.trgtClnt}}</td>
                                    <td>{{obj.strtDt | date:'dd-MM-yyyy'}}</td>
                                    <td>{{obj.endDt | date:'dd-MM-yyyy'}}</td>
                                    <td>{{findVisitType(obj.adtFlg)}}</td>
                                    <td>{{findEmployeeFromSeq(obj.asgnTo)}}</td>
                                    <td>{{findVisitSts(obj.vstStsKey)}}</td>
                                    <td>
                                        <!-- <a class="iconBtn" data-toggle="tooltip" title="Reports"
                                            [matMenuTriggerFor]="menu"><i class="fa fa-file-text"></i></a> -->
                                        <!-- <a class="iconBtn" *ngIf="obj.vstStsKey==pendingSts"
                                            (click)="updateStatus(obj)"><i class="fa fa-play"></i></a> -->
                                        <!-- <a *ngIf="obj.vstStsKey==complSts" (click)="loadAdtVstSrvy(obj)"><i class="fa fa-eye-slash"></i></a> -->
                                        <a class="iconBtn" *ngIf="obj.vstStsKey == 1387"
                                            (click)="loadTargetVisits(obj)"><i class="fa fa-eye"></i></a>
                                        <a class="iconBtn" *ngIf="obj.vstStsKey == 1385" (click)="onEdit(obj)"><i
                                                class="fa fa-pencil"></i></a>
                                        <a *ngIf="obj.vstStsKey == 1385" class="iconBtn delBtn"
                                            (click)="onDeleteVisit(obj)"><i class="fa fa-trash-o"></i></a>

                                        <!--  Reports Menue   -->
                                        <span data-toggle="dropdown">
                                            <a *ngIf="obj.vstStsKey == 1387" class="iconBtn delBtn"
                                                data-toggle="tooltip" title="Compliance Reports"><i
                                                    class="fa fa-file-text"></i></a>
                                        </span>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" (click)="openBranchRankingReport(obj)">Branch
                                                Ranking Report</a>
                                            <a class="dropdown-item" (click)="openCPCReport(obj)">CPC Report</a>
                                        </div>


                                        <!--  Reports Menue   -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!--------------Modal on + ---------->

        <div class="modal fade" id="addMember" role="dialog">
            <div class="modal-dialog big mymodal">


                <!-----Data Modal Content----->


                <form (ngSubmit)="onSubmitAddMemberForm()" [formGroup]="addMemberForm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Reschedule Visit</h5>
                        </div>
                        <div class="modal-body" style="overflow:visible">
                            <div class="cRow">
                                <!-- <div class="blockfilter mt-2 mb-4">
                                    <ul class="list-inline filterlist d-inline-block">
                                        <li><span>Region</span> : Lahore</li>
                                        <li><span>Area</span>: Johar Town</li>
                                        <li><span>Branch</span> : Johar Town</li>
                                    </ul>
                                </div> -->
                                <div *ngIf="trgt.vstTyp == 1" class="cCol2">
                                    <mat-form-field>
                                        <input type="text" (keypress)="onlyNumbers($event)" name="key" matInput
                                            placeholder="Minimum Number of Clients:" formControlName="trgtClnt">
                                    </mat-form-field>
                                </div>

                                <!-- <div class="cCol2">
                                    <mat-form-field>
                                        <mat-select placeholder="Assign To:" formControlName="asgnTo" name="key1">
                                            <mat-option *ngFor="let obj of empList" [value]="obj.empSeq">{{obj.empNm}}
                                                ({{obj.empLanId}})</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div> -->

                                <div class="cCol2">
                                    <ng-select [items]="empList" required bindLabel="empLanId" bindValue="empSeq"
                                        name="empLanId" placeholder="Assing To:" formControlName="asgnTo">
                                    </ng-select>
                                </div>

                                <div class="cCol2">
                                    <mat-form-field>
                                        <input matInput required name="key2" [max]="maxDate" [min]="minDate"
                                            id="strtDate" [(ngModel)]="startDate" formControlName="strtDt"
                                            placeholder="Start Date:" [matDatepicker]="picker1" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker startView="multi-year" required #picker1 disabled="false">
                                        </mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="cCol2">
                                    <mat-form-field>
                                        <input matInput required name="key3" [max]="maxDate" [min]="startDate"
                                            id="endDate" formControlName="endDt" placeholder="End Date:"
                                            [matDatepicker]="picker2" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker startView="multi-year" required #picker2 disabled="false">
                                        </mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="cCol2">
                                    <mat-form-field>
                                        <mat-select placeholder="Visit Type:" formControlName="adtFlg" name="key4">
                                            <mat-option [value]="this.trgt.vstTyp">{{findVisitType(this.trgt.vstTyp)}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer text-center">
                            <button [disabled]="!addMemberForm.valid" type="submit"
                                class="btn btn-primary btn-min">Ok</button>
                            <button type="button" class="btn btn-primary btn-min" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>


            </div>
        </div>




        <div class="modal fade" id="vstSrvy" role="dialog">
            <div class="modal-dialog bigger mymodal" style="max-width:95%; top:2%">


                <!-----Data Modal Content----->

                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Survey Findings</h5>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Visit ID</th>
                                        <th>Credit ID</th>
                                        <th>Client Name</th>
                                        <th>Question</th>
                                        <th>Answer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let obj of srvy">
                                        <td>{{obj.vstId}}</td>
                                        <td>{{obj.loanId}}</td>
                                        <td>{{obj.frstNm}} {{obj.lstNm}}</td>
                                        <td>{{obj.qstStr}}</td>
                                        <td>{{obj.ansStr}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <button type="submit" class="btn btn-primary btn-min">Ok</button>
                        <button type="button" class="btn btn-primary btn-min" data-dismiss="modal">Cancel</button>
                    </div>
                </div>


            </div>
        </div>




    </div>
</main>