<main class="main">
  <div class="container-fluid">
    <div class="content">
      <p class="mt-1 mb-3">Client History</p>
      <div class="row">
        <div class="col-sm-9 mb-3">
          <div class="borderbox pb-0">
            <ul class="infolist mt-2 mb-2">
              <li>Branch: <span> {{modal.client?.branch}}</span></li>
              <li>Portfolio: <span>{{modal.client?.port}}</span></li>
              <!-- <li>BDO: <span> Akhter Hussain</span></li> -->
            </ul>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="pt-1">
                <label><b>Client Information:</b></label>
              </div>
              <div class="borderbox p-2 mnh-140">
                <table class="simpletale" cellpadding="0" cellspacing="0" border="0">
                  <tr>
                    <td width="60%"><b>Client ID:</b> </td>
                    <td>{{modal.client?.clientId}}</td>
                  </tr>
                  <tr>
                    <td width="60%"><b>Client Name: </b></td>
                    <td>{{modal.client?.name}}</td>
                  </tr>
                  <tr>
                    <td width="60%"><b>CNIC: </b></td>
                    <td>{{modal.client?.cnicNum}}</td>
                  </tr>
                  <tr>
                    <td width="60%"><b>Gender:</b> </td>
                    <td>{{modal.client?.gender}}</td>
                  </tr>
                  <tr *ngIf="modal.client != undefined && modal.client.fathrFirstName!=null">
                    <td width="60%"><b>Father Name:</b> </td>
                    <td>{{modal.client.fathrFirstName}} {{modal.client.fathrLastName}}</td>
                  </tr>
                  <tr *ngIf="modal.client != undefined && modal.client.spzFirstName!=null">
                    <td width="60%"><b>Father Name:</b> </td>
                    <td>{{modal.client.spzFirstName}} {{modal.client.spzLastName}}</td>
                  </tr>
                  <tr>
                    <td><b>Address:</b></td>
                    <td>{{modal.client?.address}}.</td>
                  </tr>
                  <!-- <tr>
                    <td>House # {{modal.client?.houseNum}} Street {{modal.client?.street_area}} Enfantry Road Tahir colony mustafabad
                      Lahore.</td>
                    <td></td>
                  </tr> -->
                </table>
              </div>
            </div>
            <!-- <div class="col-sm-4">
              <div class="pt-1">
                <label><b>Credit Information:</b></label>
              </div>
              <div class="borderbox p-2 mnh-140">
                <table class="simpletale" cellpadding="0" cellspacing="0" border="0">
                  <tr>
                    <td width="70%"><b>Credit ID:</b></td>
                    <td>12347856</td>
                  </tr>
                  <tr>
                    <td width="70%"><b>Disbursement Date:</b></td>
                    <td>2/7/2018</td>
                  </tr>
                  <tr>
                    <td width="70%"><b>Disbursement Amount:</b></td>
                    <td>20,000</td>
                  </tr>
                  <tr>
                    <td width="70%"><b>Total #. of installment:</b></td>
                    <td>05</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="pt-1">
                <label><b>Branch Data:</b></label>
              </div>
              <div class="borderbox p-2 mnh-140">
                <table class="simpletale" cellpadding="0" cellspacing="0" border="0">
                  <tr>
                    <td width="40%"><b>Product ID:</b></td>
                    <td>12347856</td>
                  </tr>
                  <tr>
                    <td width="40%"><b>Product Name:</b></td>
                    <td>Kashf Karobar</td>
                  </tr>
                </table>
              </div>
            </div> -->
          </div>
        </div>
        <!-- <div class="col-sm-3 text-right">
          <div class="picswrap">
            <div class="borderpic"><img src="assets/images/client-pic.jpg" alt=""></div>
            <p class="mt-2 mb-1">Robina Ashraf</p>
            <div class="stars">
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                class="fa fa-star"></i>
            </div>
          </div>


        </div> -->
      </div>
      <div class="content">
        <ul class="nav nav-tabs borrowerTabs" id="borrowerTabs" role="tablist">
          <li class="nav-item" *ngFor="let loan of (modal.loans2 ? modal.loans2.slice(0, noOfHistoryTab ): []); let isFirst = first;let index = index;"> <a
              class="nav-link" [class.active]="isFirst" id="{{index}}-tab-header" data-toggle="tab"
              href="#{{index}}-tab" role="tab" [attr.aria-controls]="index" [attr.aria-selected]="isFirst">Credit Cycle
              {{loan.loan.loanCyclNum}}</a> </li>

          <!-- <li class="nav-item"> <a class="nav-link" id="school-quality" data-toggle="tab" href="#schoolqualityTab" role="tab"
              aria-controls="schoolqualityTab" aria-selected="false"><span *ngIf="model.schoolAppraisal.hasQltyChck" class="dot green"></span><span *ngIf="!model.schoolAppraisal.hasQltyChck" class="dot orange"></span>School Quality Questionnaire</a> </li> -->
        </ul>

        <div class="tab-content borrowerTabsContent mb-md-5" id="borrowerTabsContent">
          <div class="tab-pane fade" *ngFor="let loan of (modal.loans2 ? modal.loans2.slice(0, noOfHistoryTab): []); let isFirst = first;let index = index;"
            [class.active]="isFirst" [class.show]="isFirst" id="{{index}}-tab" role="tabpanel"
            [attr.aria-labelledby]="getlabelledby(index)">
            <!-- <h1>Tab {{index+1}}</h1> -->
            <div class="row">
              <div class="col-md-12">  
                <div class="addBtn mb-2 pull-right" >
                  <button *ngIf="isKmwk(loan)" class="btn btn-primary btn-sm" (click)="printAnimalInfo(loan.loan)"> Animal PIcture </button>
                  <button class="btn btn-primary btn-sm" (click)="printClientInfo(loan.loan)"> Print Client Info</button>
                  <button *ngIf="isKskNot(loan)" class="btn btn-primary btn-sm" (click)="printLPD(loan)"> Print LPD</button>
                  <button *ngIf="!isKtk(loan)" class="btn btn-primary btn-sm" (click)="printPaymentSchedule(loan.loan)">Print Repayment Schedule</button>
                  <button *ngIf="isKtk(loan)" class="btn btn-primary btn-sm" (click)="printCombinedPaymentSchedule(loan.loan)"> Print Combined Repayment Schedule</button>
                  <!-- <button class="btn btn-primary btn-sm" (click)="printUndertaking(loan.loan)"> Print Undertaking</button>  -->
                  <button class="btn btn-primary btn-sm"(click)="printOneLinkSlip(loan.loan)"> Print 1-Link Depository Slip</button>
                  <button *ngIf="loan.loan.isHlthCardFlgInPlan" class="btn btn-primary btn-sm"(click)="printHealthCard(loan.loan)"> Print Health Card</button>
				  <button class="btn btn-primary btn-sm"(click)="printMfcib(loan.loan, 0)">Client MFCIB</button>
				  <button class="btn btn-primary btn-sm"(click)="printMfcib(loan.loan, -1)">Nominee MFCIB</button>
				  <button class="btn btn-primary btn-sm"(click)="printMfcib(loan.loan, -2)">Co-Borrower MFCIB</button>
                  <button class="btn btn-primary btn-sm"(click)="printClientVerisys(loan.loan)">Client Verisys</button>
                  <button class="btn btn-primary btn-sm"(click)="printNomineeVerisys(loan.loan)">Nominee Verisys</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-9 mb-3">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="pt-1">
                      <label><b>Credit Information:</b></label>
                    </div>
                    <div class="borderbox p-2 mnh-140">
                      <table class="simpletale" cellpadding="0" cellspacing="0" border="0">
                      <!-- Added By Naveed - Date - 24-02-2022
                        SCR - Portfolio phase - 2, show tooltip text
                        -->
                        <tr>
                          <td width="70%"><b>Branch:</b></td>
                          <td>{{loan.loan.brnchNm}}</td>
                        </tr>
                        <!-- Ended By Naveed -->
                        <tr>
                          <td width="70%"><b>Credit ID:</b></td>
                          <td>{{loan.loan.loanId}}</td>
                        </tr>
                        <tr>
                          <td width="70%"><b>Disbursement Date:</b></td>
                          <td>{{loan.loan.dsbmtDt | date:'dd-MM-yyyy'}}</td>
                        </tr>
                        <tr>
                          <td width="70%"><b>Credit Amount:</b></td>
                          <td>{{loan.loan.aprvdLoanAmt}}</td>
                        </tr>
                        <!-- <tr>
                            <td width="70%"><b>Total #. of installment:</b></td>
                            <td>05</td>
                          </tr> -->
                      </table>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="pt-1">
                      <label><b>Product Data:</b></label>
                    </div>
                    <div class="borderbox p-2 mnh-140">
                      <table class="simpletale" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                          <td width="40%"><b>Product ID:</b></td>
                          <td>{{loan.product?.prdId}}</td>
                        </tr>
                        <tr>
                          <td width="40%"><b>Product Name:</b></td>
                          <td>{{loan.product?.prdName}}</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="col-sm-4" *ngFor="let assoc of loan.assocLoans">
                    <div class="pt-1">
                      <label><b>Associate Product Data:</b></label>
                    </div>
                    <div class="borderbox p-2 mnh-140">
                      <table class="simpletale" cellpadding="0" cellspacing="0" border="0">
                          <tr>
                              <td width="40%"><b>Credit ID:</b></td>
                              <td>{{assoc.loan?.loanAppSeq}}</td>
                            </tr>
                        <tr>
                          <td width="40%"><b>Associate Product ID:</b></td>
                          <td>{{assoc.product?.prdId}}</td>
                        </tr>
                        <tr>
                          <td width="40%"><b>Associate Product Name:</b></td>
                          <td>{{assoc.product?.prdName}}</td>
                        </tr>
                        <tr>
                          <td width="40%"><b>Credit Amount:</b></td>
                          <td>{{assoc.loan?.aprvdLoanAmt}}</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 text-right">
                <!-- <div class="picswrap">
                    <div class="borderpic">
                      <img src="assets/images/client-pic.jpg" alt=""></div>
                    <p class="mt-2 mb-1">Robina Ashraf</p>
                    <div class="stars">
                      <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                        class="fa fa-star"></i>
                    </div>
                  </div> -->


              </div>
            </div>

            <p class="colorBlack"><b>Payment History</b></p>
            <div class="table-responsive">
              <table class="table last-left" id="myTable">
                <thead class="thead-light last-left">
                  <tr>
                    <th>Installment No.</th>
                    <th>Product Name</th>
                    <th>Due Date</th>
                    <th>Principal Amount Due</th>
                    <th>Total Charges Due</th>
                    <th>Actual Paid Date</th>
                    <th>Actual Paid Amount</th>
                    <th>Status</th>
                    <th>Payment Method</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let inst of loan.schedule; let isFirst = first;let index = index;">
                    <td>{{inst.instNum}}</td>
                    <td>{{inst.prdNm}}</td>
                    <td>{{inst.dueDt | date:'dd-MM-yyyy'}}</td>
                    <td style=" text-align: center; ">{{inst.ppalAmtDue | currency:'PKR':''}}</td>
                    <td style=" text-align: center; ">{{inst.totChrgDue | currency:'PKR':''}}</td>
                    <!-- <td>{{inst.pymtDt | date:'dd-MM-yyyy'}}</td> -->
                    <td>
                      <table class="thead-light thead-blue">
                        <tr *ngFor="let p of inst.pymtDt| split:','">
                          <td style="border:none">{{p | date :'dd-MM-yyyy'}}</td>
                        </tr>
                      </table>
                    </td>
                    <!-- <td><span>{{inst.pymtAmt  | currency:'PKR':''}}</span></td> -->
                    <td style=" text-align: center; ">
                      <table class="thead-light thead-blue" style="width: 50%;">
                        <tr *ngFor="let p of inst.pymtAmt| split:','">
                          <td style="border:none;text-align: right;">{{p | currency:'PKR':''}}</td>
                        </tr>
                      </table>
                    </td>
                    <td>{{inst.refCd}}</td>
                    <!-- <td>{{inst.rcvryTyp}}</td> -->
                    <td>
                      <table class="thead-light thead-blue ">
                        <tr *ngFor="let p of inst.rcvryTyp| split:','">
                          <td style="border:none">{{p}}</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- <div class="tab-pane fade" id="addressTab" role="tabpanel" aria-labelledby="address-tab">
              <h1>Tab 2</h1>
            </div> -->
        </div>

      </div>
      <!-- <p class="colorBlack">Payment History</p>
      <div class="table-responsive">
        <table class="table last-left" id="myTable">
          <thead class="thead-light last-left">
            <tr>
              <th>Installment #</th>
              <th>Due Date</th>
              <th>Principal Amount Due</th>
              <th>Total Charges Due</th>
              <th>Actual Paid Date</th>
              <th>Actual Paid Amount</th>
              <th>Status</th>
              <th>Payment Method</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1245796325663</td>
              <td>3/11/2018</td>
              <td>5000/-</td>
              <td>5000/-</td>
              <td>3/11/2018</td>
              <td>5000/-</td>
              <td>OD</td>
              <td>Easy Paisa</td>
            </tr>
            <tr>
              <td>1245796325663</td>
              <td>3/11/2018</td>
              <td>3000/-</td>
              <td>3000/-</td>
              <td>3/11/2018</td>
              <td>3000/-</td>
              <td>Performing</td>
              <td>Branch</td>
            </tr>
            <tr>
              <td>1245796325663</td>
              <td>3/11/2018</td>
              <td>2000/-</td>
              <td>2000/-</td>
              <td>3/11/2018</td>
              <td>2000/-</td>
              <td>OD</td>
              <td>Easy Paisa</td>
            </tr>
            <tr>
              <td>1245796325663</td>
              <td>3/11/2018</td>
              <td>6000/-</td>
              <td>6000/-</td>
              <td>3/11/2018</td>
              <td>6000/-</td>
              <td>Performing</td>
              <td>Branch</td>
            </tr>


          </tbody>
        </table>
      </div> -->


    </div>
  </div>
</main>