<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-arrow">
    <li [routerLinkActive]="['active']" *ngFor="let b of breadcrumbs; let last = last"
      [ngClass]="{'is-disable': b.isDisable == true}">
      <a [routerLink]="b.isDisable ?  null : b.href"> <i class="fa " [ngClass]="{'fa-user fa-check-square ':(b.isSaved === true && b.isDisable == false),
      'fa-user fa-exclamation ':(b.isSaved !== true && b.isDisable == false)}"></i> {{ b.label }}</a>
    </li>
  </ol>
</nav>