<main class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <app-left-side-bar-admin></app-left-side-bar-admin>
      </div>
      <div class="col-md-9">
        <div class="content">
          <div class="row">
            <div class="col-sm-8">
              <form [formGroup]="formControlFilter" (ngSubmit)="onFormSubmit()">
                <div class="row">
                  <div class="col-sm-6">
                    <div>
                      <ng-select formControlName="regNm"
                        (change)="onRegionSelection($event)" [items]="allRegions" bindLabel="regNm" bindValue="regNm" name="regNm" 
                        placeholder="Select Region:">
                      </ng-select>
                    </div>
                    <div>
                      <ng-select [items]="allBranches" bindLabel="brnchNm"  (change)="onBranchSelection($event)" formControlName="brnchNm"
                        bindValue="brnchNm" name="brnchNm" placeholder="Select Branch:">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <!-- <div>
                      <mat-form-field>
                        <input matInput required formControlName="fromDate" [max]="maxDate" placeholder="From Date:"
                          [matDatepicker]="picker1" disabled readonly (dateChange)="fetchDetail()" />
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker required #picker1 disabled="false"></mat-datepicker>
                      </mat-form-field>
                    </div> -->
                    <div>
                      <mat-form-field *ngIf="auth.role=='admin' || auth.role=='finance'">
                        <input matInput required formControlName="toDate" [max]="maxDate" placeholder="To Date:"
                          [matDatepicker]="picker2" disabled readonly (dateChange)="fetchDetail()"/>
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker required #picker2 disabled="false"></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="row clearfix">
            <div class="col-sm-6">
              <div class="cRow">
              </div>
            </div>
          </div>
          <div class="modal fade" id="ApplyPayment" role="dialog">
            <div class="modal-dialog mymodal bigger">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Branch Expense Funds</h5>
                </div>
                <form [formGroup]="branchExpeneFundsForm">
                  <div class="modal-body">

                    <div class="cRow">
                      <div class="cCol2">
                        <label>Region</label>
                        <select class="form-control"  disabled="readonly" name="regSeq" formControlName="regSeq">
                           <option value="0">Select</option>
                          <option *ngFor="let reg of allRegions"  [value]="reg.regSeq">{{reg.regNm}}</option>
                      </select>
                      </div>
                      <div class="cCol2">
                        <label>Branch</label>
                        <select class="form-control"  disabled="readonly" name="brnchSeq" formControlName="brnchSeq">
                          <option value="0">Select</option>
                         <option *ngFor="let br of branchs" [value]="br.brnchSeq">{{br.brnchNm}}</option>
                     </select>
                      </div>
                      <div class="cCol2">
                        <label>Account</label>
                        <input type="text" disabled="readonly" formControlName="acctNm" class="form-control" />
                      </div>
                      <div class="cCol2">
                        <label>Amount</label>
                        <input type="text"  formControlName="expAmt" class="form-control" (keypress)="onlyNumbers($event)"/>
                      </div>
                    </div>
                    <div class="cRow">
                      <div>
                        <label>Purpose</label>
                        <textarea type="text"  formControlName="expDscr" class="form-control" ></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="modal-footer text-center">
                    <button appNoDblClick [disabled]="!branchExpeneFundsForm.valid" type="button"
                      class="btn btn-primary btn-min" (click)="onBranchExpenseSubmit()">Add</button>
                    <button type="button" class="btn btn-primary btn-min" data-dismiss="modal">Cancel</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

           <!---- DATA TABLES---->

           <div class="table-responsive mb-md-5">
            <table mat-table [dataSource]="dataSource" class="table" multiTemplateDataRows matSort>

              <!-- Reference Region Column -->
              <ng-container matColumnDef="regNm">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Region</th>
                <td mat-cell *matCellDef="let element">{{element.regNm}}</td>
              </ng-container>

              <!-- Branch Column -->
              <ng-container matColumnDef="brnchNm">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch</th>
                <td mat-cell *matCellDef="let element">{{element.brnchNm}}</td>
              </ng-container>

              <!-- Account Column -->
              <ng-container matColumnDef="acctNm">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Account</th>
                <td mat-cell *matCellDef="let element">{{element.acctNm}}</td>
              </ng-container>

              <!-- Amount Column -->
              <ng-container matColumnDef="expAmt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                <td mat-cell *matCellDef="let element">{{element.expAmt | currency:'PKR':''}}</td>
              </ng-container>

              <!-- Expense Purpose Column -->
              <ng-container matColumnDef="expDscr">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Purpose</th>
                <td mat-cell *matCellDef="let element">{{element.expDscr}}</td>
              </ng-container>

              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                <td mat-cell *matCellDef="let element">
                  <ng-container>
                     <span><a href="#" data-toggle="modal" (click)="onPaymentClick(element, false)" *ngIf="element.acctNm!='N/A'"
                      class="iconBtn"><img src="assets/images/rscheck.png" alt=""></a></span>
                      <a *ngIf="element.expAmt && (auth.role=='admin' || auth.role=='finance')" (click)="getFundDetail(element, true)" class="iconBtn"><i class="fa fa-pencil"></i></a>
                  </ng-container>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns" class="thead-light thead-blue"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [length]="datalength"  [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<div class="modal fade" id="fundDetailModel" role="dialog">
  <div class="modal-dialog fullpop mymodal">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Funds Request Details</h5>
      </div>
      <div class="modal-body">

        <div class="table-responsive">
          <table class="table" id="myTable">
            <thead class="thead-light">
              <tr>
                <th>Region Name</th>
                <th>Branch Name</th>
                <th>Account</th>
                <th>Amount</th>
                <th>Purpose</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of brnchExpenseFundsDetailLists">
                <tr> 
                  <td >{{item.regNm}}</td>
                  <td >{{item.brnchNm}}</td>
                  <td >{{item.acctNm}}</td>
                  <td >{{item.expAmt}}</td>
                  <td >{{item.expDscr}}</td>
                  <td>
                     <a *ngIf="auth.role=='admin' || auth.role=='finance'"  class="iconBtn" (click)="onPaymentClick(item, true)"
                    data-toggle="tooltip" title="update fund request">
                    <i class="fa fa-pencil"></i></a>
                    <!-- <a *ngIf="getTypeStr(item.trx.rcvryTypSeq) == 'CASH' && auth.role == 'bm'" (click)="openKcrForWriteOff(item.trx.wrtOfRcvryTrxSeq)" class="iconBtn" data-toggle="tooltip" title="Print KCR"><img src="assets/images/print-icon.png" alt=""></a>  -->
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-primary btn-min" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>