<main class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <app-left-side-bar-admin></app-left-side-bar-admin>
      </div>
      <div class="col-md-9">
        <div class="content">
          <div class="row">
            <div class="col-sm-6" *ngIf="journelVouchersArray?.length>0">
              <div class="mysearchbox" (click)="showField()" *ngIf="!showFields">
                <h6 class="d-inline-block searchshow" style="cursor: pointer;">Journel Vouchers
                  <i class="fa fa-search"> </i>
                </h6>
              </div>
              <div class="mysearch" *ngIf="showFields">
                <form (ngSubmit)="applyFilter(searchVal)" #searchForm="ngForm">
                  <div class="col-sm-10" style="float:left;">
                    <mat-form-field *ngIf="showFields">
                      <input id="searchBox" (keyup)="searchValue()" [InputField]="'onlyAlphaNumaric'" autofocus matInput name="searchValue"
                        [(ngModel)]="searchVal" placeholder="Search">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-2" style="float:right;">
                    <button class="btn btn-primary btn-lg" type="submit">Search</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-sm-6">
              <form [formGroup]="branchForm" (ngSubmit)="onSubmitBranchForm()">
                <ng-select *ngIf="auth.role != 'bm'" [items]="branchs" required (change)="onSelectBranch($event)"
                  bindLabel="brnchNm" bindValue="brnchSeq" name="brnchNm" placeholder="Select Branch:"
                  formControlName="branch">
                </ng-select>
              </form>
            </div>
          </div>
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="table" multiTemplateDataRows matSort
              matSortDirection="asc" matSortDisableClear>
              <ng-container matColumnDef="jvId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.jvId}} </td>
              </ng-container>
              <ng-container matColumnDef="jvDt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.jvDt | date :'dd-MM-yyyy'}} </td>
              </ng-container>
              <ng-container matColumnDef="jvDscr">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description</th>
                <td mat-cell *matCellDef="let element"> {{element.jvDscr}} </td>
              </ng-container>
              <ng-container matColumnDef="entyTyp">
                <th class="td-center" mat-header-cell *matHeaderCellDef mat-sort-header>Type </th>
                <td class="td-center" mat-cell *matCellDef="let element"> {{element.entyTyp}} </td>
              </ng-container>
              <ng-container matColumnDef="entySeq">
                <th class="td-center" mat-header-cell *matHeaderCellDef>Entity Sequence </th>
                <td class="td-center" mat-cell *matCellDef="let element"> {{element.entySeq}}
                </td>
              </ng-container>
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                  <div class="table-responsive" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <table class="table">
                      <tr>
                        <th>ID</th>
                        <th>Ledger Account</th>
                        <th>Ledger Account Desc.</th>
                        <th>Description</th>
                        <th>Debit</th>
                        <th>Credit</th>
                        <!-- <th>Amount</th> -->
                      </tr>
                      <tr *ngFor="let voucher of element.JVoucherDetials">
                        <td>{{voucher.jvDtlSeq}}</td>
                        <td>{{voucher.generalLedgerAcct}}</td>
                        <td>{{voucher.ledgerAcctDesc}}</td>
                        <td>{{voucher.dscr}}</td>
                        <td><span *ngIf="voucher.crdtDbtFlg == 1">{{voucher.amt}}</span></td>
                        <td><span *ngIf="voucher.crdtDbtFlg == 0">{{voucher.amt}}</span></td>
                        <!-- <td>{{voucher.amt}}</td> -->
                      </tr>
                      <tr>
                        <td style=" background-color: white; "></td>
                        <td style=" background-color: white; "></td>
                        <td style=" background-color: white; "></td>
                        <td><b>Total:</b></td>
                        <td><b>{{element.creditTotal}}</b></td>
                        <td><b>{{element.debitTotal}}</b></td>
                      </tr>
                    </table>
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="columnsToDisplay" class="thead-light thead-blue"></tr>
              <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
                [class.example-expanded-row]="expandedElement === element" (click)="expandFunction(element)">
              </tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>
            <mat-paginator [length]="datalength" [pageSizeOptions]="[15]" [pageSize]="limit" (page)="changePage($event)">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>